/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');
@import url('./vite-promo.css');
@import url('./header.css');


.form-section{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top:28px;
  margin-bottom: 24px;
  gap:12px;
}